.animal {
}

.bard {
    float: left;
    width: 200px;
    height: 200px;
}

.pig {
    float: left;
    width: 200px;
    height: 200px;

}

.cow {
    float: left;
    width: 200px;
    height: 200px;

}

.vegetables {
}

.weat {
    width: 200px;
    height: 200px;
}

.corn {
    width: 200px;
    height: 200px;
}

.soy {
    width: 200px;
    height: 200px;
}

.tomato {
    width: 200px;
    height: 200px;
}
