html {
    font-size: 2vw;
}

.animals {
}

.bard {
    float: left;
    width: 30%;
    height: 30%;
}

.pig {
    float: left;
    width: 35%;
    height: 35%;
}

.cow {
    float: right;
    width: 35%;
    height: 35%;
}

.text {
    clear: both;
    text-align: center;
    margin: 2% 10%;
}

.text1 {
    text-align: left;
    float: left;
}
/* 
.text2 {
    text-align: center;
} */

.text3 {
    text-align: right;
    float: right;
}


