.animal {

}

.bard {
    float: left;
    width: 25%;
    height: 25%;
    margin: auto;
}

.pig {
    float: left;
    width: 30%;
    height: 30%;
    margin: auto;

}

.cow {
    float: left;
    width: 30%;
    height: 30%;
    margin: auto;

}

.buy {
    clear: both;
}
